body .body-cal {
    box-shadow: 4px 4px 40px black;
    height: 400px;
    width: 300px;
}
form{
    background-color: black;
}
body form .screen{
    width:292px;
    height: 80px;
    font-size: 32px;
    
}
.btn-group{
    margin-left:28px ;
  
    justify-content: center;
    
}
.btn-w{
    background: #fff;
    font-size:32px;
}
.btn-clear{
    background-color: blue;
    font-size:32px;

}
.btn-gray{
    background-color: gray;
    font-size:32px;
}
.btn-green{
    background-color: green;
    font-size:32px;
}
.btn{
    width: 50px;
    height: 60px;
    margin: 5px;
    border-radius: 50% ;
}