form{

    width: 280px;
    box-shadow: 0px 0px 3px gray;

}
.btn-group{
    padding: 2px;
}

.screen{
    padding-left:10px;
    height:100px ;
    width: 95%;
    font-size: 40px;
    border: none;

}

.btn{
    width: 60px;
    margin:3px;
    border: none;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 3px;
    font-size: 25px;
}

.btn-green{
    background-color: rgb(65, 65, 222);
}